/* brand logo */
.sfbiLogo {
  display: block;
  height: auto;
  max-width: 100%;
  position: relative;
  margin-top: -30px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.pre-listing {
  background-image: url(images/pre_listing.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

@media only screen and (max-width: 768px) {
  .pre-listing {
    background-image: url(images/new-home.jpg);
  }
}

.pre-listing h1 {
  text-align: center;
  
  width: 80%;
  margin-top: 5rem;
  margin-left: 90%;
  font-size: 4vh;
}

@media only screen and (max-width: 768px) {
  .pre-listing h1 {
    text-align: center;
    width: 50%;
    color: white;
    margin: auto;
    margin-top: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 4vh;
  }
}

.pre-listing p {
  text-align: center;
  
  width: 80%;
  margin-left: 90%;
  margin-top: 2rem;
  font-size: 2vh;
}

@media only screen and (max-width: 768px) {
  .pre-listing p {
    text-align: center;
    width: 70%;
    color: white;
    margin: auto;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2vh;
  }
}

.roof {
  background-image: url(images/roof.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

@media only screen and (max-width: 768px) {
  .roof {
    background-image: url(images/roof700.jpg);
  }
}

.roof h1 {
  text-align: center;
  
  width: 80%;
  margin-top: 5rem;
  margin-left: 90%;
  font-size: 4vh;
}

@media only screen and (max-width: 768px) {
  .roof h1 {
    text-align: center;
    width: 50%;
    color: white;
    margin: auto;
    margin-top: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 4vh;
  }
}

.roof p {
  text-align: center;
  
  width: 80%;
  margin-left: 90%;
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .roof p {
    text-align: center;
    width: 70%;
    color: white;
    margin: auto;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.drone {
  background-image: url(images/drone1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

@media only screen and (max-width: 768px) {
  .drone {
    background-image: url(images/drone.jpg);
  }
}

.drone h1 {
  text-align: center;
  
  width: 80%;
  margin-top: 5rem;
  margin-left: 90%;
  font-size: 4vh;
}

@media only screen and (max-width: 768px) {
  .drone h1 {
    text-align: center;
    width: 50%;
    color: white;
    margin: auto;
    margin-top: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 4vh;
  }
}

.drone p {
  text-align: center;
  
  width: 80%;
  margin-left: 90%;
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .drone p {
    text-align: center;
    width: 70%;
    color: white;
    margin: auto;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.four-point {
  background-image: url(images/four-point.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

@media only screen and (max-width: 768px) {
  .four-point {
    background-image: url(images/four-point701.jpg);
  }
}

.four-point h1 {
  text-align: center;
 
  width: 80%;
  margin-top: 5rem;
  margin-left: 90%;
  font-size: 4vh;
}

@media only screen and (max-width: 768px) {
  .four-point h1 {
    text-align: center;
    width: 50%;
    color: white;
    margin: auto;
    margin-top: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 4vh;
  }
}

.four-point p {
  text-align: center;
  
  width: 80%;
  margin-left: 90%;
  margin-top: 2rem;
  
}

@media only screen and (max-width: 768px) {
  .four-point p {
    text-align: center;
    width: 70%;
    color: white;
    margin: auto;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.carousel-item p {
  --animate-delay:0.2s;
}

ul li {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.heroImage {
  background-image: url(images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  background-position: bottom;
  background-attachment: fixed;
  margin-top: 6rem;
}

.navbar-custom {
  background-color: blue;
  border-bottom: #e19b57 4px solid;
}
/*# sourceMappingURL=style.css.map */